/* For Webkit browsers (Chrome, Safari) */
.custom-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: green transparent; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 100px; /* Adjust width here */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: white; /* Thumb color */
  border-radius: 100px; /* Optional: rounded corners for the scrollbar thumb */
}

/* Left to right and right to left scroll start */
.scroll-container {
  overflow-x: auto; /* Enables horizontal scrolling */
  /* white-space: nowrap; */
  padding: 0 1rem; /* Optional: Adds padding around the content */
}

.card-wrapper {
  display: flex; /* Displays the cards in a row */
  gap: 1rem; /* Optional: Adds space between the cards */
}

.card-wrapper > div {
  flex: 0 0 auto; /* Prevents cards from shrinking */
}
