.deerImages {
  display: flex;
  gap: 55px;
}
.deerImage {
  width: 250px;
  height: 250px;
}

.shadow {
  box-shadow: 10px 7px 15px #d21369;
  /* filter: drop-shadow(16px 7px 8px #d21369); */
}
.filterShadow {
  /* box-shadow: 16px 7px 8px #d21369; */
  filter: drop-shadow(16px 7px 8px #d21369);
}

.babyContainer {
  margin: 0 auto;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.babyImage {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border: 2px solid yellow;
  transition: all ease-in-out 0.5s;
}

.babyImage:hover {
  width: 250px;
  /* scale: 1.1; */
}

/* 3 bar start */
/* .menu-icon {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: all 0.3s ease-in-out;
}

.menu-icon:hover span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon:hover span:nth-child(2) {
  opacity: 0;
}

.menu-icon:hover span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
} */
