@tailwind base;
@tailwind components;
@tailwind utilities;

.sklLoading {
  background-color: #726d6d;
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    #615b5b;

  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.darkMode {
}
.lightMode {
  background-color: white;
}

#sticky-card-1 {
  --index: 1;
}

#sticky-card-2 {
  --index: 2;
}

#sticky-card-3 {
  --index: 3;
}

#sticky-card-4 {
  --index: 4;
}
#sticky-card-5 {
  --index: 5;
}

#sticky-card-6 {
  --index: 6;
}

.sticky-card {
  top: calc(var(--index) * 4rem);
}
